@tailwind base;

@tailwind components;

.test-tw {
  @apply bg-green-500
}

@tailwind utilities;

p {
    color: rgb(0, 113, 189);
}

body {
  background-color: rgb(177, 169, 169);
}

h1 {
  color: rgb(124, 16, 16);
}
